/* Theme Panel */

#theme-panel {
	position: fixed;
	width:212px;
	height: auto;
	top:150px;
	min-height: 200px;
	text-align:left;  
	z-index: 11; 
	border-bottom-right-radius:3px; 
    border-top-right-radius:3px; 
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
}
.panel-close,
.panel-close a.panel-btn,
.panel-close a i {
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.panel-close {
    background: rgba(240,240,240,0.2); 
}
.panel-open {
    background: rgba(255,255,255,1); 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    
}
.panel-close a.panel-btn {
    background: rgba(240,240,240,0.2);  
}
.panel-open a.panel-btn {
    background: rgba(255,255,255,1);  
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #252525;
}
.panel-close a i {
    color: #fff;
}
.panel-open a i {
    color: #252525;
}
.panel-close {
	left:-212px;
}

.panel-open {
	left:-1px;
}

.theme-panel-title {
	width:100%;
	padding:15px 15px;
}
.theme-panel-title h4 {
	color: #252525;
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding-left: 11px;
}
.colors-container {
	width: 100%;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 20px;
	padding-top: 15px;
}
#theme-panel a.panel-btn {
	position: absolute;
	font-size:23px;
    padding-top: 9px;
	width:40px;
	height: 40px; 
	right:-40px;
	top:25px;
	text-align: center;
	line-height: 2px;
	cursor: pointer;  
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
    color: #fff;  
}
.colors-t {
    color: #999;
    line-height:0;
    font-size: 13px;
}

#theme-panel .colors-container a.color-switch{
	width:27px;
	height: 27px;
	display: inline-block;
	margin-right:2px;
	margin-top:5px;
    border-radius: 1px;
	border:1px solid #f0f0f0;
	cursor: pointer;
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#theme-panel .colors-container a:hover {
    opacity: .6;
    
}
.colors-container p {
    color:#999;
    font-size:11px;
}

.pink {
	background: #ec005f;
}
.blue2 {
	background: #5C9EE4;
}
.blue {
	background: #2ac5ee;
}
.purple{
	background: #563d7c;
}
.green {
	background: #b2cc02;
}
.green2 {
	background: #BCD782;
}
.yellow {
	background: #f1dd00;
}
.orange {
	background: #E47911;
}
.red {
	background: #D40436;
}
.red2 {
	background: #DE3053;
}
.brown {
	background: #6b4e2e;
}
.darkgrey {
	background: #7f8c8d;
}
.beige {
	background: #b8a279;
}
.midnight {
	background: #2c3e50;
}
.black {
	background: #272727;
}

